<mat-form-field class="example-full-width">
  <input matInput placeholder="Search/Add" type="text" (keyup)="filterItems()" [(ngModel)]="value"/>
</mat-form-field>

<button matButton (click)="addItem()" [disabled]="enableAdd">ADD</button>

<button matButton (click)="removeItems()">DELETE</button>

<mat-list>
  @for (item of items; track item) {
    @if (!item.hidden) {
      <mat-list-item>
        <mat-checkbox
          [checked]="item.selected"
          (change)="updateItem($event.checked, item)"
        >
          {{ item.name }}
        </mat-checkbox>
      </mat-list-item>
    }
  }
</mat-list>
